%h1{ng_show: '!project.id'} Add Project
%h1{ng_show: 'project.id'} Edit Project

%form{ng_submit: 'save()'}
  %label{for: 'name'} Project Name
  %input#name{type: 'text', ng_model: 'project.name', name: 'name', required: true}

  %input{type: 'submit', value: I18n.t('form.save')}

%a{href: 'dashboard'} Back