// Place all the styles related to the taskman controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#dashboard
  margin-top: 5em

  .header
    background: linear-gradient(to bottom left, rgba(9, 21, 184, 0.58), rgba(12, 27, 176, 0.82))
    color: #dbdaef
    height: 3em
    line-height: 3em
    font-size: 2em
