#dashboard.container
  .row
    .col-md-12.project{ng_repeat: 'project in projects'}
      .header.container
        .row
          .icon.col-md-1
            .glyphicon.glyphicon-list-alt
          .title.col-md-9 {{ project.name }}
          .edit-wrap.col-md-1
            %a.edit{href: 'projects/{{project.id}}'}
              .glyphicon.glyphicon-pencil
          .delete-wrap.col-md-1{ng_click: 'remove(project)'}
            .glyphicon.glyphicon-trash.delete

  .row
    .col-md-12
      .button
        %a{href: 'projects/new'} Add TODO List