%h1 Welcome to the Taskman
%p Please Log In or Sign Up in order to use our cool ToDo manager


.actions
  %p= link_to t('user.login'), new_user_session_path
  %p= link_to t('user.register'), new_user_registration_path
  %p= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
